<div class="container">
    <h2>Cargos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha de Emisión</th>
                <th>Periodo</th>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Lote</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                @for (cargo of cargos; track $index) {
                <td>{{ cargo.fechaEmision }}</td>
                <td>{{ cargo.periodo }}</td>
                <td>{{ cargo.tipo }}</td>
                <td>{{ cargo.monto }}</td>
                <td>{{ cargo.lote }}</td>
                <td>
                    <button class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                }
            </tr> -->
            <tr>
                <td>hoy</td>
                <td>q</td>
                <td>q</td>
                <td>q546546</td>
                <td>sdfsdf</td>
                <td>
                    <button class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>